*{
    border-radius:0px;
}

body{
    
    background-color:#e5fafa;
}

h1{
      font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size:25px;
}
h2{
      font-family: 'Roboto', sans-serif;
    font-weight:100;
    margin:0;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    
    
}

h5{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size:30px;
    
    
}

p{
    
    font-family: 'Questrial', sans-serif;
    
}

div#myFeedWrapper.col-lg-4.panel.panel-default{
    padding:0;   
}

#myFeedWrapper{
    
    padding:0;
}

#myPostWrapper{
    
    padding:0;
    
}

#feedWritten{
    
     overflow: hidden;
  text-overflow: ellipsis;
}

#titleBG{    
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff8787+0,ccfff9+99 */
background: #ff8787; /* Old browsers */
background: -moz-linear-gradient(left,  #ff8787 0%, #ccfff9 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #ff8787 0%,#ccfff9 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ff8787 0%,#ccfff9 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8787', endColorstr='#ccfff9',GradientType=1 ); /* IE6-9 */

    margin:0;
    
    
    border-bottom: solid 2px;
    
    border-bottom-color:#ff618c;
    height:5vh;
}

#title{
    text-align:left;
    margin:0;
    padding-left:10%;
    padding-top:10px;
    padding-bottom:10px;
    font-size:30px;
    color:white;
}
      

.panel{
    
    border-radius:0px;
}
#addButton{      
    margin-top:20px;    
   color:#7af9ec;
     transition-duration:.3s;
    background-color:black;
    border-radius:0px;
}
#addButton:hover{
    color:#060607;
    background-color:#7af9ec;
}

.panel-primary{
    
    padding-left:0;
    padding-right:0;
    
}

#TitleWrap{
    
    background-color:#ffffff;
    color:#777272;
    
    font-size:20px;
    font-weight:bolder;
    
    
    
}

.colTitle{
    
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    font-size:25px;
    text-transform:uppercase;
}

.feedButt{
    
     padding-left:20px;
    transition-duration:.3s;
    padding-top:10px;
    padding-bottom:10px;
    background-color:#c5c9c9; 
    outline: solid 1px;

    outline-color:#eaffff;
     overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.feedButt:hover{
    
    background-color: #d1f4f4;
    cursor:pointer;
    padding-left:25px;
}

.feedButt:active{
    background-color: #eaffff;
}

/*MODAL WINDOW*/



.modal{
    margin: auto;
	position: fixed;
	top: 100px;
	left: 0;
  right: 0;
	width: 50%;
	
	min-width: 320px;
	height: auto;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
    

}

.show{
    
    visibility: visible;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(#7af9ec, 0.4);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.show ~ .overlay {
	opacity: 1;
	visibility: visible;
}

.effect .modal-content {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
        box-shadow:none;
border:none;
    z-index:-1;
}


.effect ~ .overlay {
	background-color: rgb(209, 253, 249);
} 

.effect .modal-content,
.effect .modal-content {
	background: transparent;
}

.effect .modal-content {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

#submitButt{
    color:#75ff85;
     transition-duration:.3s;
    background-color:black;
    border-radius:0px;
    text-transform:uppercase;
}

#submitButt:hover{
    
    background-color:#75ff85;
    color:black;
}

#cancelButt{
    
    
    color:#ff3f3f;
     transition-duration:.3s;
    background-color:#3e3e3e;
    border-radius:0px;
    text-transform:uppercase;

}


#cancelButt:hover{
    background-color:#ff3f3f;
    color:white;
    
    
}
#feedName{
    font-family: 'Roboto', sans-serif;
    font-weight:100;
    margin:0;
    background-color:#2f2f2f    ;
    
   
     border-style:solid;
    border-width:4px;
    border-color:rgba(255, 0, 0, 0);
    
    box-shadow:none;
    border-radius:0px;
    color:#7af9ec;
    font-size:50px;
    height:100%;
    transition-duration:1s;
    margin-bottom:10px;
}

#feedNickName{
    margin-top:10px;
     font-family: 'Roboto', sans-serif;
    font-weight:100;
    margin:0;
    background-color:#2f2f2f    ;
    
   
     border-style:solid;
    border-width:4px;
    border-color:rgba(255, 0, 0, 0);
    
    box-shadow:none;
    border-radius:0px;
    color:#7af9ec;
    font-size:50px;
    height:100%;
    transition-duration:1s;
    
    
}

.deleteButt{
   padding:0px 5px 0px 5px;
   color:#838383;
     transition-duration:.3s;
    background-color:black;
    border-radius:0px;
    
    margin-right:20px;
    align:middle;
    margin-bottom:10px;
}
.deleteButt:hover{
    color:red;
    
}

.deleteButt:active{
 background-color:azure;
    
}

.listLink{
   font-family: 'Questrial', sans-serif;
    color:#f4578d;    
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.listLink:hover{
    color:#f4578d; 
    all:none;
    text-decoration:none;
}

#delButton{
    margin-top:20px;  
    margin-right:10px;
   color:#fc5d63;
     transition-duration:.3s;
    background-color:black;
    border-radius:0px;
}
#delButton:hover{
    
    background-color:#fc5d63;
    color:azure;
}

.panel-heading{
    
   
    
}
#footer{
    
    position:fixed;
    
    width:100%;

    bottom:0;
    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ccfff9+0,ff8787+100 */
background: #ccfff9; /* Old browsers */
background: -moz-linear-gradient(left,  #ccfff9 0%, #ff8787 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left,  #ccfff9 0%,#ff8787 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right,  #ccfff9 0%,#ff8787 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ccfff9', endColorstr='#ff8787',GradientType=1 ); /* IE6-9 */
    
    height:50px;
}

#userDisplay{
    color:white;
padding-left:5px;
    padding-right:5px;
    margin:5px;
position: relative;
float:right;
right:5%;
    
    background-color:rgba(0, 0, 0, 0.19);
    border-radius:500px;
    diaply:inline;
    
}

#userDisplay:hover{
    
     background-color:rgba(0, 0, 0, 0.53);
    transition-duration:.25s;
    transition-timing-function:ease-out;
    cursor:pointer;
}

#userText{
    display:inline-block;
    font-size:15px;
    
}
#indicator{
    color:greenyellow;
    font-size:30px;
}

#info-content{
    padding-left:20px;
    background-color:#fdd8d9;
    padding-bottom:200px;
    
    
}

.listItem{
    
    font-family: 'Questrial', sans-serif!important;
}

#x{
    position:relative;
    top:0;
    right:10px;
    float:right;
    z-index:0;
    transition-duration:.5s;
    transition-timing-function: ease;
    opacity:.25;
    width:35px;
}

#x:hover{
   -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
opacity:1;
}

#main{
    
   height:85vh;
    padding:0;
}

#productTitle{
    padding-top:20px;
    margin-top:0px;
    margin:0;
    font-size:50px;
    display
    line-height:22px;
}
#companyName{
    font-size:30px;
    padding-left:10px;
    color:#898989;
}

#price{
    font-size: 30px;
    display:inline;
    padding-left:20px;
    
}

#prodImg{
    display:inline;
    margin-bottom:40px;
    
}

#outLink{
    
   transition-duration:.25s;
    border-radius:0px;
    background-color:black;
    border-color:#7af9ec;
    color:#7af9ec;
}

#outLink:hover{
    color:black;
    background-color:#7af9ec;;
    
}